
$color-gradient-primary-1 = rgb(74, 83, 240)
$color-gradient-primary-2 = rgb(248, 103, 198)
$color-gradient-primary-3 = rgb(255, 84, 81)
$color-gradient-quaternary-1 = rgb(255, 205, 44)
$color-gradient-quaternary-2 = rgb(255, 6, 99)
$color-primary = rgb(0, 0, 0)
$color-quarternary = rgba(0, 0, 0, 0)
$color-tertiary = rgb(75, 75, 75)
$color-gradient-secondary-1 = rgb(253, 226, 65)
$color-gradient-secondary-2 = rgb(254, 111, 111)
$color-gradient-secondary-3 = rgb(255, 76, 181)
$color-gradient-tertiary-1 = rgb(0, 250, 193)
$color-gradient-tertiary-2 = rgb(197, 0, 225)
$color-secondary = rgb(255, 255, 255)
$color-gradient-quinary-1 = rgb(253, 128, 65)
$color-gradient-quinary-2 = rgb(255, 76, 161)
$font-size-basic = 1.6rem
$font-size-oversize = 8rem
$font-size-medium = 3rem
$font-size-x-large = 6rem
$font-size-xx-medium = 5rem
$font-size-x-medium = 4rem
$font-size-xx-large = 7rem
$font-size-large = 6rem
$font-size-small = 1.5rem
$font-size-x-basic = 1.8rem
$font-size-xx-basic = 2.2rem
$bp-xs = 0px
$bp-s = 320px
$bp-m = 620px
$bp-l = 960px
$bp-xl = 1200px
$bp-hd = 1600px
$bp-mobile = 960px
$bp-desktop = 960px
$font-family-main = Source Code Pro
$font-family-secondary = aktiv-grotesk, sans-serif
