
$color-primary = rgb(237, 240, 244)
$color-secondary = rgb(255, 255, 255)
$color-tertiary = rgb(75, 75, 75)
$font-size-basic = 1.6rem
$font-size-oversize = 8rem
$font-size-medium = 3rem
$font-size-x-large = 6rem
$font-size-xx-medium = 5rem
$font-size-x-medium = 4rem
$font-size-xx-large = 7rem
$font-size-large = 6rem
$font-size-small = 1.5rem
$font-size-x-basic = 1.8rem
$font-size-xx-basic = 2.2rem
$bp-xs = 0px
$bp-s = 320px
$bp-m = 620px
$bp-l = 960px
$bp-xl = 1200px
$bp-hd = 1600px
$bp-mobile = 960px
$bp-desktop = 960px
$font-family-main = Source Code Pro
$font-family-secondary = aktiv-grotesk, sans-serif
