@import '../tokens/index.styl';
@import './core/index.styl';

body {
  font-family: $font-family-main;
  font-weight: 300;
  letter-spacing: 2px;
  overflow-y: scroll;
}

.link {
  color: inherit;
  text-decoration: none;  
}

h1 {
  font-family: $font-family-secondary;
  font-weight: 400;
  margin: 0; padding: 0;
  letter-spacing: 0;
} 

.nuxt-progress {
  z-index: 1000; 
  background-color: black!important;
  height: 10px;
}

button {
  cursor: pointer;
  outline: 0;
}