
rupture.desktop-cutoff = $bp-desktop;
rupture.mobile-cutoff = $bp-mobile;
//              xs     s     m     l     xl     hd
rupture.scale = $bp-xs $bp-s $bp-m $bp-l $bp-xl $bp-hd;
rupture.anti-overlap = true;